.rodape {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #4B3935;
}

.rodape__info desc {
    text-align: justify;
}

.desc__novidades {
    font-size: 1.3rem;
    text-align: justify;
    color: #e29910;
    text-transform: uppercase;
}

.rodape__info form {
    display: flex;
}

.form__input {
    width: 300px;
    height: 30px;
}

.form__botao {
    background-color: #e29910;
    border: none;
    border-radius: 2px;
    font-weight: bold;
}

.lista {
    list-style: none;
    padding: 0;
    display: flex;
}

.lista__item {
    margin-left: 1rem;
    font-size: 30px;
}

@media screen and (max-width: 648px) {
    .rodape__info {
        max-width: 300px;
        margin: 0 auto;
    }
    
    .desc__novidades {
        text-align: center;
        padding-bottom: 1.2rem;
    }

    .form {
        justify-content: center;
        padding-bottom: 1rem;
    }

    .lista {
        justify-content: center;
    }
}

@media screen and (min-width: 700px) {
    .rodape__info {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}